@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: rgb(87, 87, 87);
}

@import "./player";
@import "./song";
@import "./library";
@import "./navbar";
